server/jobs/xlims/xlimsapi.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
<s:element name="PerformTaskByID">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="TaskGuid" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Parameters" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="PerformTaskByIDResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="PerformTaskByIDResult">
<s:complexType mixed="true">
<s:sequence>
<s:any/>
</s:sequence>
</s:complexType>
</s:element>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="PerformTaskByID_JSON">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="TaskGuid" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Parameters" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="PerformTaskByID_JSONResponse">
<s:complexType/>
</s:element>
<s:element name="PerformTaskByID_XML">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="TaskGuid" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="Parameters" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="PerformTaskByID_XMLResponse">
<s:complexType/>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="PerformTaskByIDSoapIn">
<wsdl:part name="parameters" element="tns:PerformTaskByID"/>
</wsdl:message>
<wsdl:message name="PerformTaskByIDSoapOut">
<wsdl:part name="parameters" element="tns:PerformTaskByIDResponse"/>
</wsdl:message>
<wsdl:message name="PerformTaskByID_JSONSoapIn">
<wsdl:part name="parameters" element="tns:PerformTaskByID_JSON"/>
</wsdl:message>
<wsdl:message name="PerformTaskByID_JSONSoapOut">
<wsdl:part name="parameters" element="tns:PerformTaskByID_JSONResponse"/>
</wsdl:message>
<wsdl:message name="PerformTaskByID_XMLSoapIn">
<wsdl:part name="parameters" element="tns:PerformTaskByID_XML"/>
</wsdl:message>
<wsdl:message name="PerformTaskByID_XMLSoapOut">
<wsdl:part name="parameters" element="tns:PerformTaskByID_XMLResponse"/>
</wsdl:message>
<wsdl:message name="PerformTaskByIDHttpGetIn">
<wsdl:part name="TaskGuid" type="s:string"/>
<wsdl:part name="Parameters" type="s:string"/>
</wsdl:message>
<wsdl:message name="PerformTaskByIDHttpGetOut">
<wsdl:part name="Body"/>
</wsdl:message>
<wsdl:message name="PerformTaskByID_JSONHttpGetIn">
<wsdl:part name="TaskGuid" type="s:string"/>
<wsdl:part name="Parameters" type="s:string"/>
</wsdl:message>
<wsdl:message name="PerformTaskByID_JSONHttpGetOut"/>
<wsdl:message name="PerformTaskByID_XMLHttpGetIn">
<wsdl:part name="TaskGuid" type="s:string"/>
<wsdl:part name="Parameters" type="s:string"/>
</wsdl:message>
<wsdl:message name="PerformTaskByID_XMLHttpGetOut"/>
<wsdl:message name="PerformTaskByIDHttpPostIn">
<wsdl:part name="TaskGuid" type="s:string"/>
<wsdl:part name="Parameters" type="s:string"/>
</wsdl:message>
<wsdl:message name="PerformTaskByIDHttpPostOut">
<wsdl:part name="Body"/>
</wsdl:message>
<wsdl:message name="PerformTaskByID_JSONHttpPostIn">
<wsdl:part name="TaskGuid" type="s:string"/>
<wsdl:part name="Parameters" type="s:string"/>
</wsdl:message>
<wsdl:message name="PerformTaskByID_JSONHttpPostOut"/>
<wsdl:message name="PerformTaskByID_XMLHttpPostIn">
<wsdl:part name="TaskGuid" type="s:string"/>
<wsdl:part name="Parameters" type="s:string"/>
</wsdl:message>
<wsdl:message name="PerformTaskByID_XMLHttpPostOut"/>
<wsdl:portType name="XLIMSAPISoap">
<wsdl:operation name="PerformTaskByID">
<wsdl:input message="tns:PerformTaskByIDSoapIn"/>
<wsdl:output message="tns:PerformTaskByIDSoapOut"/>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_JSON">
<wsdl:input message="tns:PerformTaskByID_JSONSoapIn"/>
<wsdl:output message="tns:PerformTaskByID_JSONSoapOut"/>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_XML">
<wsdl:input message="tns:PerformTaskByID_XMLSoapIn"/>
<wsdl:output message="tns:PerformTaskByID_XMLSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="XLIMSAPIHttpGet">
<wsdl:operation name="PerformTaskByID">
<wsdl:input message="tns:PerformTaskByIDHttpGetIn"/>
<wsdl:output message="tns:PerformTaskByIDHttpGetOut"/>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_JSON">
<wsdl:input message="tns:PerformTaskByID_JSONHttpGetIn"/>
<wsdl:output message="tns:PerformTaskByID_JSONHttpGetOut"/>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_XML">
<wsdl:input message="tns:PerformTaskByID_XMLHttpGetIn"/>
<wsdl:output message="tns:PerformTaskByID_XMLHttpGetOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="XLIMSAPIHttpPost">
<wsdl:operation name="PerformTaskByID">
<wsdl:input message="tns:PerformTaskByIDHttpPostIn"/>
<wsdl:output message="tns:PerformTaskByIDHttpPostOut"/>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_JSON">
<wsdl:input message="tns:PerformTaskByID_JSONHttpPostIn"/>
<wsdl:output message="tns:PerformTaskByID_JSONHttpPostOut"/>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_XML">
<wsdl:input message="tns:PerformTaskByID_XMLHttpPostIn"/>
<wsdl:output message="tns:PerformTaskByID_XMLHttpPostOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="XLIMSAPISoap" type="tns:XLIMSAPISoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PerformTaskByID">
<soap:operation soapAction="http://tempuri.org/PerformTaskByID" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_JSON">
<soap:operation soapAction="http://tempuri.org/PerformTaskByID_JSON" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_XML">
<soap:operation soapAction="http://tempuri.org/PerformTaskByID_XML" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="XLIMSAPISoap12" type="tns:XLIMSAPISoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="PerformTaskByID">
<soap12:operation soapAction="http://tempuri.org/PerformTaskByID" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_JSON">
<soap12:operation soapAction="http://tempuri.org/PerformTaskByID_JSON" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_XML">
<soap12:operation soapAction="http://tempuri.org/PerformTaskByID_XML" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="XLIMSAPIHttpGet" type="tns:XLIMSAPIHttpGet">
<http:binding verb="GET"/>
<wsdl:operation name="PerformTaskByID">
<http:operation location="/PerformTaskByID"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output>
<mime:content part="Body" type="text/xml"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_JSON">
<http:operation location="/PerformTaskByID_JSON"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output/>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_XML">
<http:operation location="/PerformTaskByID_XML"/>
<wsdl:input>
<http:urlEncoded/>
</wsdl:input>
<wsdl:output/>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="XLIMSAPIHttpPost" type="tns:XLIMSAPIHttpPost">
<http:binding verb="POST"/>
<wsdl:operation name="PerformTaskByID">
<http:operation location="/PerformTaskByID"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output>
<mime:content part="Body" type="text/xml"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_JSON">
<http:operation location="/PerformTaskByID_JSON"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output/>
</wsdl:operation>
<wsdl:operation name="PerformTaskByID_XML">
<http:operation location="/PerformTaskByID_XML"/>
<wsdl:input>
<mime:content type="application/x-www-form-urlencoded"/>
</wsdl:input>
<wsdl:output/>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="XLIMSAPI">
<wsdl:port name="XLIMSAPISoap" binding="tns:XLIMSAPISoap">
<soap:address location="https://cblabs.xlims.net/xlimsapi.asmx"/>
</wsdl:port>
<wsdl:port name="XLIMSAPISoap12" binding="tns:XLIMSAPISoap12">
<soap12:address location="https://cblabs.xlims.net/xlimsapi.asmx"/>
</wsdl:port>
<wsdl:port name="XLIMSAPIHttpGet" binding="tns:XLIMSAPIHttpGet">
<http:address location="https://cblabs.xlims.net/xlimsapi.asmx"/>
</wsdl:port>
<wsdl:port name="XLIMSAPIHttpPost" binding="tns:XLIMSAPIHttpPost">
<http:address location="https://cblabs.xlims.net/xlimsapi.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>